---
import { appConfig } from "@/config/app";
import DesktopBackground from "@/images/background-1-size_xl.webp";
import MobileBackground from "@/images/background-1-size_xs.webp";
import { cn } from "@/utils/cn";
import ImageAttributeEditor from "@/utils/imageAttributeEditor";
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

type Props = {
  title?: string;
  subtitle?: string;
  className?: string;
} & Omit<HTMLAttributes<"div">, "class">;

const { title, subtitle, className, ...rest } = Astro.props;

const ImageKey = `banner-${(title ?? "default").replaceAll(" ", "-")}-${MobileBackground.src.replaceAll("/", "-")}`;
---

<div
  class={cn(
    "relative grid h-96 max-h-96 max-w-[100vw] grid-cols-1 items-center overflow-hidden truncate md:grid-cols-4",
    className,
  )}
  {...rest}
>
  <Image
    id={ImageKey}
    src={MobileBackground}
    srcset={`${MobileBackground.src} 640w, ${DesktopBackground.src} 1024w`}
    sizes="(max-width: 640px) 100vw, 50vw"
    alt="Background of hero banner"
    class="absolute inset-0 -z-[2] h-full w-full object-cover transition-opacity duration-[1500ms]"
    style={{
      opacity: 0,
    }}
    loading="eager"
  />
  <ImageAttributeEditor
    elementID={ImageKey}
    CssKey="opacity"
    CssValue="1"
    client:load
  />
  <div
    class="absolute inset-0 -z-[1] flex h-full w-full bg-purple-950 bg-opacity-15 backdrop-blur-[1px]"
  >
  </div>
  <div
    class="col-span-full flex flex-col items-center justify-center gap-3 text-center md:col-span-2 md:col-start-2"
  >
    <h1 class="text-3xl font-semibold text-orange-300 sm:text-4xl">
      {title ?? appConfig.banner.defaults.title}
    </h1>
    <p class="mx-4 max-w-sm text-pretty text-base text-orange-200 sm:text-lg">
      {subtitle ?? appConfig.banner.defaults.description}
    </p>
  </div>
  <div
    class="absolute inset-x-0 bottom-0 z-[1] h-2 bg-gradient-to-b from-transparent to-neutral-950"
  >
  </div>
</div>
